# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.wsuo

# Rider / JetBrains
.idea/
*.iml

# Logs
Logs/
*.log
InjekkoPlayground/Logs/*

# Generated debug artifacts
GeneratedCode.txt

# OS
.DS_Store
Thumbs.db